.main-container {
  display: flex;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  #sidebar-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
  }

  .job-listings {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 380px) {
  .custom-style {
    margin-left: 0rem;
  }

  .card-wraper {
    width: 100%;
    margin-left: 0;
    padding-left: 0rem;
  }

  .title-style {
    text-align: center;
  }
}
