.jobs-list-container li {
  border: 0.1rem solid blue;
  list-style-type: none;
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
}
.job-card-header {
  display: flex;
  justify-content: space-between;
}
.job-card-logo {
  margin-top: 2rem;
  margin-left: 1rem;
  width: 20%;
}
.job-card-logo img {
  width: 8rem;
  height: 8rem;
  background-color: blue;
  border-radius: 5px;
}
.job-card-basic-info {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.job-card-title {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.job-card-title p {
  margin: 0.2rem;
  text-align: left;
  color: #858e96;
}
.job-card-salary {
  margin-top: 4rem;
  margin-right: 2rem;
  font-size: large;
}
.job-card-bottom {
  display: flex;
  flex-direction: column;
}
.job-card-description {
  margin: 4rem;
  text-align: left;
}
.job-card-structured-data {
  display: flex;
  justify-content: space-around;
  color: #858e96;
}
