@tailwind base;
@tailwind components;
@tailwind utilities;

/*General page*/

.list-container {
  background-color: #f3f4f6;
  height: 100%;
  padding-top: 1rem;
}
.card-wraper {
  transition: box-shadow 0.3s ease;
  width: 80%;
}
.card-wraper:hover {
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgb(182, 181, 181);
}
/*Forms*/
#forms-container-create {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 1rem;
}
#forms-container-edit {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 1rem;
}
/*About page*/
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 1rem;
}
.what-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgb(224, 223, 223);
  width: 80%;
  height: 10rem;
}
.what-container h4 {
  color: #1f2937;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1rem;
}
.what-container p {
  color: #1f2937;
  margin: 1rem 2rem;
}

.goals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgb(224, 223, 223);
  width: 80%;
  height: 10rem;
}

.goals-container h4 {
  color: #1f2937;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1rem;
}

.goals-container p {
  color: #1f2937;
  margin: 1rem 2rem;
}

.who-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgb(224, 223, 223);
  width: 80%;
  height: auto;
}
.who-container h4 {
  color: #1f2937;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1rem;
}
.contributors-container {
  display: flex;
}

.contributor-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributors-container h6 {
  margin-top: 1rem;
  color: #1f2937;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}

.contributors-container .photo {
  width: 12rem;
  height: auto;
  border-radius: 0.5rem;
}

.contributors-container p {
  margin: 2rem 2rem 0.5rem 2rem;
}

.logos {
  display: flex;
  margin-bottom: 1rem;
}
.github-logo {
  width: 2rem;
  height: auto;
}
.linkedin-logo {
  width: 2rem;
  height: auto;
}

/** Job details **/
#back-button {
  background-color: #f3f4f6;
  margin: 0.5rem 0rem 0.5rem 1rem;
  border-radius: 0.5rem;
  border: rgba(0, 0, 0, 0.23) solid;
}
#back-button:hover {
  box-shadow: 0 0.1rem 0.2rem 0.2rem rgb(224, 223, 223);
}

#job-card-details {
  width: 80%;
  height: auto;
  margin-left: 10%;
}

#edit-details {
  width: 2rem;
  height: auto;
}
.edit-back-buttons {
  display: flex;
  justify-content: space-between;
}

.edit-back-buttons img {
  margin-right: 2rem;
}

#company-logo {
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  border: blue solid;
  margin-left: 1rem;
}

#details-description {
  text-align: left;
  margin: 1rem;
}

#contract-details {
  display: flex;
  justify-content: space-around;
}
.delete-button-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
